.App {
  min-height: 100vh;
}

.section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Icons*/
.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; /* Space between icon and label */
  width: 100px;
  height: auto;
}

/* Text under Icons */
.icon-label {
  background: white;
  padding: 0px 2px;
  font-family: "Chicago", monospace;
  font-size: 12px;
  text-align: center; /* Center the text */
  width: fit-content; /* Make the label only as wide as its content */
  margin-top: -5px; 
}

/* Mac icon specific positioning */
#mac-icon {
  top: 40px;
  right: 20px;
}

/* Trash icon specific positioning */
#trash-icon {
  top: 620px;
  right: 20px;
}

/* Bomb icon specific positioning */
#bomb-icon {
  top: 160px;
  right: 20px;
}

/* Date display in top right */
#name {
  position: absolute;
  font-size: 12px;
  top: 4px;
  left: 20px;
}

/* Date display in top right */
#date {
  position: absolute;
  font-size: 12px;
  top: 4px;
  right: 20px;
}

/* Job title display in top centre */
#job-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  top: 4px;
}