:root {
  --primary: #EB6D6F;
  --red: rgb(255, 19, 62);
}

.App {
  min-height: 100vh;
  background-color: var(--primary);
}

.section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#home {
  background: #FC913A;
}

#contact {
  background: #FC913A;
}

.perspective-1000 {
  perspective: 1000px;
}
